

.container {
    text-align: center;
}

.logo {
    width: 10px;
}

.title {
    font-family: 'Georgia', serif;
    color: #6b4226;
    font-size: 48px;
    margin-top: 20px;
}

.border {
    border: 5px solid #9b57b5;
    padding: 20px;
    display: inline-block;
}





